<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week1.jpg</string>
			<key>contentofdev</key>
			<string>第一周实际上是为卵子的受精作最后的准备！备孕期间自己测算排卵周期（即月经周期），主要方法是基础体温法，即每天早晨醒来后身体不作任何运动，用体温表测出体温。坚持做一个月后，就可以制成一个曲线的基础体温表。一般排卵期的体温会升高0.3-0.5度，根据基础体温表，在排卵期你就可以做好迎接新生命的准备了，“造人”正式开始！ </string>
		</dict>

		<key>weeknumber</key>
		<string>第一周</string>

		<key>nametype</key>
		<array>
			<string>抓住排卵期</string>
			<string>概述</string>
			<string>孕期保健</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>

		<key>overview</key>
		<string>夫妻二人经过一段时间的心理和生理准备，开始“造人”历程。健康的生活方式是首先要注意的，戒掉烟酒，远离辐射等等，开始积极调整夫妻二人的饮食习惯和生活起居，保持良好的心态迎接新生命的到来！ </string>
	</dict>

	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week2.jpg</string>
			<key>contentofdev</key>
			<string>怀孕的第一周通常从最后一次月经的那一周算起，受精后的卵子称为受精卵，受精卵从输卵管进入到子宫，在子宫中继续生长。受精一周后胚胎会分泌一种激素，这种激素能够帮助胚胎埋入子宫内膜，使受精卵就正式安顿下来，进行有规律的发育。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第二周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>也许您现在还没明确的知道自己是否怀孕，但怀孕计划也许是您早就定好的。在您做这个计划时，您最好去做一个孕期检查。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week3.jpg</string>
			<key>contentofdev</key>
			<string>在最初的几周内，胚胎细胞的发育特快，有三层，称为三胚层。三胚层是胎体发育的始基，每一层都将形成身体的不同器官：最里层形成一条原始管道，它以后发育成肺、肝脏、甲状腺、胰腺、泌尿系统和膀胱。中层将变成骨骼、肌肉、心脏、睾丸或卵巢、肾、脾、血管、血细胞和皮肤的真皮。

最外层将形成皮肤、汗腺、乳头、乳房、毛发、指甲、牙釉质和眼的晶状体。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第三周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>此时你自身可能还没有什么感觉，但在你的身体内却在进行着一场变革，从现在开始，你的生命中就会增加一份责任，开始存储一些怀孕知识吧！ </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week4.jpg</string>
			<key>contentofdev</key>
			<string>怀孕9周前的受精卵叫作“胚芽”或“胚胎”，这周通过B超可以看到它的外形像一颗小小的松子，胚芽发育的这周即“胚胎期”，胚胎细胞在几周内以惊人的速度分裂。3个胚层组织（外胚层、中胚层和内胚层）开始形成。
外胚层——皮肤、指甲、眼睛、鼻子、神经系统等；

中胚层——肌肉、骨骼、淋巴组织、血细胞、心脏等；

内胚层——舌头、扁桃体、尿道、膀胱等。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第四周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期营养</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>已经进入第4周了，你还没有发觉自己身体的变化吗？这个时期你可能会有轻微的不舒服，有时会感到疲劳。稍安勿躁，你马上会进入一个丰富多彩的孕期生活。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week5.jpg</string>
			<key>contentofdev</key>
			<string>胚芽正在你的子宫深处迅速生长。这时候，你的胚胎宝宝长度约0.6厘米，有一个小苹果籽大小，但是看起来还不像人，更像一只小蝌蚪。宝宝的心脏开始有规律的跳动及开始供血。本周细胞迅速分裂，主要的器官如肾脏和肝赃开始生长。连接脑和脊髓的神经管也开始工作，原肠开始发育。胚胎的上面和下面开始形成肢体的幼芽，将来形成宝宝的手和腿。将来形成嘴巴的地方的下方有些小的皱摺，它将来会发育成宝宝的脖子和下巴。本周面部器官开始形成，鼻孔可清楚地看到，眼睛的视网膜也开始形成了。

特别提示：在第4-5周，心脏、血管系统最敏感，最容易受到损伤。这个阶段禁止接触X光及其它射线。</string>
		</dict>
		<key>weeknumber</key>
		<string>第五周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>现在，你的宝宝有一个小苹果籽大，看起来像只小蝌蚪。你可能已经有一些不适感了，比如觉得恶心、乳房胀痛、疲劳、尿频等，无需焦虑担心，这些症状都是正常的。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week6.jpg</string>
			<key>contentofdev</key>
			<string>进入怀孕第6周后，在你的子宫里，胚胎正在迅速地成长，他（她）的心脏已经开始划分心室，并进行有规律的跳动及开始供血。这周的细胞还在迅速地分裂，主要器官包括初级的肾和心脏的雏形都已发育，神经管开始连接大脑和脊髓，原肠也开始发育。胚胎的上面和下面开始长出肢体的幼芽，这是将来孩子的手臂和腿。日后将形成嘴巴的地方的下部，有一些小皱痕，它最终会发育成脖子和下颌。在本周面部的基本器官已经开始成形，已经能清晰地看到鼻孔，眼睛的雏形也已经具备。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第六周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>这个星期胚胎在你的子宫里迅速地成长，能够觉察到怀孕的迹象了。你是不是开始发觉自己变得慵懒，总觉得睡不够，在白天也感到昏昏欲睡，连说话都觉得是件费劲的事情，更别说做家务啦，只是希望静静地呆在家里。懒懒的你也不会有出外旅行的想法，突然想动动了一定要注意适当，否则过量的运动有可能引起流产哦！ </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week7.jpg</string>
			<key>contentofdev</key>
			<string>怀孕进入第7周了，这时的胚胎像一颗豆子，大约有12毫米长。现在如果你能看到自己的身体内部，你会发现胚胎已经有了一个与身体不成比例的大头。而且胚胎的面部器官十分明显，眼睛就像一个明显的黑点，鼻孔大开着，耳朵有些凹陷。胚胎上伸出的幼芽将长成胳膊和腿，现在看上去已经很明显，手和脚看起来像小短桨一样。其它部分的成长包括垂体和肌肉纤维。现在你听不到胎心音，但是胚胎的心脏已经划分成左心房和右心室，并开始有规律的跳动，每分钟大约跳150下，比你心跳要快两倍。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第七周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>现在是胎儿的还处于不稳定时期，像桑葚那么大，看起来还有一个小尾巴。准妈妈千万不要激动，也不要做剧烈的运动，过量的运动有可能引起流产。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week8.jpg</string>
			<key>contentofdev</key>
			<string>第8周的胚胎大约有20毫米长，看上去像颗葡萄。胚胎的器官已经开始有明显的特征，手指和脚趾间看上去有少量的蹼状物。这时胚胎像跳动的豆子一样开始有运动。因为骨髓还没有成形，现在由肝脏来生产大量的红细胞，直到骨髓成形后去接管肝脏的作用。胚胎的器官特征开始明显，各个不同的器官开始忙碌地发育。从现在开始到20周，你的胎儿将迅速成长，并且在几个星期内就会有明显的轮廓，这个时期的成长速度就像孕早期心脏和大脑的发育时期一样。现在各种复杂的器官都开始成长，牙和腭开始发育，耳朵也在继续成形，胎儿的皮肤像纸一样薄，血管清晰可见。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第八周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>还没检查过的准妈妈，要开始第一次产前检查啦！胎儿的胚胎器官已经开始具备了明显的特征了，这时候的胚胎形状有点像葡萄。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week9.jpg</string>
			<key>contentofdev</key>
			<string>8周过去了，你的胚胎从现在开始可以称为“胎儿”了，也可以称之为“小宝宝”。为了接纳新居民，你的子宫膨胀得非常大，现在胎儿的尺寸大约有25毫米，而且胎儿许多位置都有所改变，如胚胎期的小尾巴不见了等。现在所有的器官、肌肉、神经开始工作。手部从手腕开始变得稍微有些弯曲，双脚开始摆脱蹼状的外表，眼帘开始覆盖住眼睛。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第九周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>孕期保健</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>恭喜你，从现在开始，胚胎可以称为“胎儿”了，他已经成为你真正意义上的小宝宝。是不是觉得嘴里没味道？自己做些开胃的东西吧！</string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week10.jpg</string>
			<key>contentofdev</key>
			<string>到本周末，你的胎儿的身长会达到40毫米，从形状和大小来说，都像一个扁豆荚。胎儿的体重大约10克。胎儿的眼皮开始粘合在一起，直到27周以后才能完全睁开。他（她）的手腕已经成形，脚踝开始发育完成，手指和脚趾清晰可见，手臂更长而且肘部变得更加弯曲。现在，胎儿的耳朵的塑造工作已经完成，但是用B超还是分辨不清性别，现在胎儿的生殖器开始发育，胎盘已经很成熟，可以支持产生激素的大部分重要功能。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第十周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>你的子宫在你怀孕前，它大概有小香梨大，现在已经长到一个大橙子那么大了。不管你是否养宠物，此时你都该去做弓形虫病的检查了。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week11.jpg</string>
			<key>contentofdev</key>
			<string>本周已能够清晰地看到胎儿脊柱的轮廓，脊神经开始生长。你的子宫现在看起来象个柚子，借助多普勒仪器，你可以听到胎儿心脏快速跳动的声音，有些孕妇称之为快速奔跑的小马。胎儿身长已经达到4-6厘米，体重达到14克，开始能做吸吮、吞咽和踢腿动作，在本周胎儿的很多细微之处也开始出现，可清晰的看到手指、脚趾和绒毛状的头发等。胎儿维持生命的器官如肝脏、肾、肠、大脑以及呼吸器官都已经开始工作。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第十一周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>你的孕早期也快结束了，早孕反应减轻，现在你也不必为流产过多担心了。为了生个健康的宝宝，要记得去做产前遗传病的检查哦！ </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week12.jpg</string>
			<key>contentofdev</key>
			<string>现在胎儿从牙胚到趾甲，身体的雏形已经发育完成，脸看上去更像人了。开始时，长在头部两侧的眼睛距离拉进，移到了脸部，耳朵也已经到达最终的位置。胎儿的手指和脚趾已经完全分离，一部分骨骼开始变得坚硬，并出现关节雏形。胎儿的肠子最近生长得非常快，有一部分进入脐带里，现在它们开始要转移到腹腔内。他的肾正在向膀胱分泌尿液。

胎儿的神经细胞增殖迅猛，而且神经突触（大脑中的神经线路）正在形成。你的宝宝现在可能已经有了更多的反射动作，包括吮吸，如果你用手戳戳肚子，他甚至会动一动，不过，几周之内，你还无法感觉到他的活动。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第十二周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>现在胎儿身体的雏形已经发育完成，您的脸和脖子上会不同程度地出现黄褐斑，小腹部出现一条黑褐色妊娠线，别担心，这都是孕期正常的特征。</string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week13.jpg</string>
			<key>contentofdev</key>
			<string>13周胎儿的娃娃脸已呈现出来，五官明显，双眼已向脸部中央更靠近了，嘴唇能够张合，宝宝脖子完全成形，并能支撑头部运动。眼睛正在向头的前方移动，耳朵向正常位置迁移。研究表明，现在宝宝开始感受声音了。虽然大约要到第24周时耳朵才能完全发育，但宝宝能通过皮肤的震动感受器来“听”声音。这时如果妈妈用手轻轻在腹部碰触，肚子中的宝宝就会蠕动起来，但你仍然感觉不到胎儿的动作。

胎儿的视觉在孕期第13周就已形成。按说，在这个时候胎儿就应该能看到东西了，但胎儿并没有看。虽然胎儿不去看，但胎儿对光却很敏感。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第十三周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>胎儿脸部更加清晰了，肚子开始变大，妊娠趋于稳定，妊娠反应消失，食欲也很不错。这时如果用手轻轻在腹部碰触胎儿就会蠕动起来，但准妈妈仍然感觉不到胎儿的动作。</string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week14.jpg</string>
			<key>contentofdev</key>
			<string>胎儿此时在你的肚子里已经可以做很多事情了，如皱眉、做鬼脸、斜着眼睛，可能他也在吸允自己的手指等，科学证明这些动作可以促进大脑的成长。到本周，胎宝宝从头到臀大约85-92毫米长，重约30-43克。胎儿身体的所有基本构造都已形成，尽管它们仍然非常微小。宝宝头重脚轻的状况也逐步得到改善，手指上有指纹出现，其他器官仍然在迅速发育，身体部分开始生长得比头部快，支撑头部的脖颈现在也更加清晰、明显了。现在，你的孩子已相当活跃，他太小了，在鹅蛋大的地方就可以轻松地转动。
</string>
		</dict>
		<key>weeknumber</key>
		<string>第十四周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期检查</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>祝贺你，你的肚肚就要显露出来了！宝宝身体的所有基本构造也已经形成，尽管它们很小，在鹅蛋大的地方就可以轻松地转动。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week15.jpg</string>
			<key>contentofdev</key>
			<string>胎儿现在可以转头、握拳、眯眼斜视、皱眉头、做鬼脸，并会吸吮自己的大拇指了，比以往更加灵巧灵活。本周胎儿发育十分迅速。顶臀长大约有10-12厘米，重约60-80克。他的腿现在比胳膊长，并且可以活动所有的关节和四肢，他的手也更加灵活。汗腺正在形成，味蕾开始形成，眼睑仍然闭合，但可以感觉到光，如果你对着肚子打开手电筒，他很可能会躲开光源。胎儿的眉毛开始长出来了，头发的生长速度也很快。最特别的事情就是胎儿会在子宫中打嗝了，这是胎儿开始呼吸的前兆，遗憾的是妈妈却无法听到这个声音。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第十五周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>现在你需要做一次产前诊断了，15-18周之间是做产前诊断的最佳时期；怀孕改变了你的免疫系统，使你更易出现某些感染，你要远离香烟、酒精等刺激物。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week16.jpg</string>
			<key>contentofdev</key>
			<string>16周的胎儿身长大约有12-15厘米，体重达到120-150克，头部明显更直立了，胎儿此时看上去象一个梨子。生殖器官已经形成，用B超可以分辨出胎儿的性别了；他的皮肤薄而透明，能看到皮下的血管网；双臂及两腿的关节已经形成，硬骨开始发育；胎儿腿的长度超过了胳膊，手指甲完整地形成了，指关节也开始运动。宝宝在本周发生的最大的事情就是开始学会轻轻地打嗝了，这是呼吸的先兆，但是你听不到打嗝声，这是因为在胎儿的气管里充满了羊水而不是空气。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第十六周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>怀孕期最有意思的时候就要开始了，现在您可以感到胎动了，别忘了把您第一次感到胎动的时间记下来哦。一定要抓住这段时间多和宝宝进行交流，良好的母子关系从现在开始就要建立了。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week17.jpg</string>
			<key>contentofdev</key>
			<string>17周胎大约有13厘米长，重约140-170克，在今后3周内，他将经历一个飞速增长的过程，重量和身长都将增加两倍以上。他连接胎盘的生命纽带——脐带，长得更粗、更强壮了；大脑发育已经很充分；心跳变得更有力；循环系统和尿道完全进入正常的工作状态，肺也开始工作，能平稳地吸入、呼出羊水；可以做指尖并拢的动作了。平时除了玩玩小手和小脚，脐带也成了小家伙的新玩具。本周你可以借助听诊器听到宝宝强有力的心跳，宝宝有力的心跳可以减少你对分娩的恐惧，使你信心倍增。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第十七周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>孕期最有意思的时期来了，现在是胎教的最佳时期，宝宝能听到你的声音，宝宝最喜欢的是听到妈妈温柔的说话声，你的教育计划从现在就开始吧！ </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week18.jpg</string>
			<key>contentofdev</key>
			<string>宝宝现在从头到臀部大约长13-15厘米，重160-198克。他薄薄的皮肤下的血管清晰可见，耳朵已长到正常的位置。胎儿已经有了轮廓分明的脖子，他的头不再是长在双肩上，而是在脖子上。他（她）的胸脯不时地鼓起来、陷下去，这是胎儿呼吸的表现，但是在胎儿的口腔里流动的却是羊水而不是空气。胎儿的眼睛开始向前看，而不是朝左右看。此期明显感到胎动，心脏的活动也活跃，借助听诊器，可以听到胎儿的心音。在你进餐后的1-2小时内，宝宝就开始吸取养分了。胎儿听力形成，此时的胎儿就是一个小小“窃听者”，他能听到妈妈心脏跳动的声音，他最爱听的是妈妈温柔的说话声和歌声。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第十八周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>如果你还没有做过B超检查，那么最近要去做一次；胎儿开始有频繁地胎动了，借助听诊器，你还可以听到胎儿的心音；现在你最好采取左侧卧位躺。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week19.jpg</string>
			<key>contentofdev</key>
			<string>19周的胎儿身长大约有15厘米，体重200-250克，胎儿此时开始能够吞咽羊水，肾脏已经能够制造尿液，头发也在迅速的生长。

19周的时候，宝宝最大的变化就是感觉器官开始按照区域迅速的发展。味觉，嗅觉，触觉，视觉，听觉从现在开始在大脑中专门的区域里发育，此时神经元的数量减少，神经元之间的连通开始增加。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第十九周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>现在你有必要准备孕妇装了，一身合体的孕妇服会把你的孕期装点得分外精神；你还要坚持有规律地数胎动，时间最好固定在每天晚间8-9点。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week20.jpg</string>
			<key>contentofdev</key>
			<string>胎儿的成长历程已经走完一半啦－－恭喜你！胎儿现在身长约16-25cm，约重250-300克。一种油腻的白色物质覆盖着他的全身，这种物质叫做胎儿皮脂，它能够保护胎儿长期浸没在羊水中的皮肤，还可以在生产时减少胎儿经过产道的阻力。胎儿的感觉器官开始按区域迅速发育，神经元分成各个不同的感官，味觉、嗅觉、听觉、视觉和触觉都从现在开始，形成记忆与思维功能的神经联系也在增加。本周起，胎儿的视网膜就形成了，开始对光线有感应，这时你可以用手电照射腹部进行胎教，他对强光的反应会很大。

胎儿活动开始频繁，你会初次感到胎儿的活动像鱼一样轻轻地游动。他甚至对子宫外的声音会有反应。如果你没有感觉到胎动，你也不必担心，因为此时他若处于安静阶段，也属正常。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第二十周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>恭喜你！胎儿的成长历程已经走完一半啦！二十周前后是做高层次超音波检查的最佳时机，胎儿器官发育已成形，一旦发现重大畸形可及早处理。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week21.jpg</string>
			<key>contentofdev</key>
			<string>本周胎儿身长约16-18厘米，体重300-350克，在这个时候的胎儿体重开始大幅度的增加。宝宝的眉毛和眼睑清晰可见，渐渐变得“眉清目秀”；开始长出手指甲和脚趾甲；恒牙的牙胚也已经开始在鄂骨内形成。宝贝已经有了固定的活动和睡眠的周期，不过活跃期不一定都是在白天，也有可能在晚上或其他时间段。此时胎儿的听力已经达到一定的水平，他（她）已经能够听到你的声音了。开始和宝宝讲话吧！如果你愿意的话，选择一些好听的故事讲给宝宝听，也许将来这些故事会是宝宝出生后最喜欢的呢？ </string>
		</dict>
		<key>weeknumber</key>
		<string>第二十一周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>最近你可能会感到挺舒服的：肚子还不是很大，孕早期常见的各种不适多半也已消失；你和宝宝都需要更多营养，要注意增加铁质的摄入。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week22.jpg</string>
			<key>contentofdev</key>
			<string>22周的胎儿现在身长大约19厘米，体重350克，在这个时候的胎儿体重开始大幅度的增加，看上去已经很象小宝宝的样子了。从这周开始，宝宝的脑部开始迅速生长，尤其是位于大脑中心的生发基质，它负责产生脑细胞。宝宝清醒的时间越来越长了，当他清醒时，会很清楚地听到外面大人的谈话、音乐和噪声，即使母亲轻轻拍打腹部也会把他惊醒。此外宝宝的牙齿在这时也开始发育了，这时候主要是恒牙的牙胚在发育。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第二十二周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>如果你想安排一次外出旅行，目前是比较好的时期。你可能已经觉得自己的行动有点迟缓和笨重，这很正常，不过你可千万不能再穿高跟鞋了。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week23.jpg</string>
			<key>contentofdev</key>
			<string>23周的胎儿现在身长大约19厘米，体重400克左右，骨骼和肌肉已经长成，身材也比较匀称了。由于皮下脂肪尚未产生，这时胎儿的皮肤红红的，而且皱巴巴的，皮肤的褶皱是给皮下脂肪的生长留有余地。胎儿的牙龈下面，恒牙的牙胚也开始发育了。为此你要多补充些钙质，为宝宝将来能长出一口好牙打下基础。这时的胎动次数有所增加，并更加明显，在医院做产科检查时你可以听到十分有力的胎儿心跳的声音，这会使你有一种非常奇妙的体验。

宝宝在这时候比较喜欢听抒情幽雅的古典音乐，你可以做一个实验，放些节奏快声音响的音乐，会发现宝宝对这种音乐的反应很剧烈，胎动增加幅度加大，当音乐换成轻柔舒缓时，宝宝会安静下来，可见胎儿对音乐和声音的敏感程度。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第二十三周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>现在你是不是对节制饮食嗜好有些厌倦了？你要有节制哦；而且这个时期，你要尽量把脚抬起来，坐下时伸直腿，避免长时间坐着，经常运动。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week24.jpg</string>
			<key>contentofdev</key>
			<string>24周的胎儿现在身长大约25厘米多，体重500多克。开始充满准妈妈的整个子宫，宝宝在此时身体的比例开始匀称。宝宝的听力已经形成，他可以听到你发出的有些变形的说话声音、你心跳的声音和你的肠胃蠕动时发出的咕噜咕噜的声音。一些大的噪音胎儿也能听到，比如吸尘器发出的声音、开得很大的音响声、邻家装修时的电钻声，这些声音都会使胎儿躁动不安。　

除了听力有所发展外，此时胎儿的呼吸系统也正在发育。他还在不断吞咽羊水，但是通常并不会排出大便，那得等到出生以后了。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第二十四周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>你也许会感到皮肤有些发痒，眼睛干涩并对光线敏感，别担心，这些都是正常反应；这个阶段你还要注意预防孕期糖尿病，并了解一些早产的先兆。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week25.jpg</string>
			<key>contentofdev</key>
			<string>25周的胎儿现在身长大约30厘米，体重约600克。胎儿在妈妈的子宫中胎儿已经占据了相当多的空间，开始充满整个子宫。大脑发育已进入一个高峰期，脑细胞迅速增殖分化，脑体积增大；视网膜发育完全，眼皮也会动了，小眼睛有时睁开、有闭上，这样的小动作能帮助完善睡眼的功能；舌头上的味蕾正在形成，所以小家伙这时就能通过你尝到食品的味道了，而且有些偏好甜食。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第二十五周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>现在你可能会感到有些疲惫，由于胎儿的增大，腹部越来越重，腰腿痛会更加明显，但还是需要保持锻炼，注意不要进行容易失去平衡的运动。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week26.jpg</string>
			<key>contentofdev</key>
			<string>26周的胎儿现在坐大高约22厘米，体重约800克。从现在到出生，随着宝宝脂肪的迅速累积，他的体重会增长3倍以上。胎儿开始胎儿有了呼吸，宝宝依然不是呼出吸入真正的空气，原因主要是因为胎儿的肺部还没有发育全。此外，宝宝在这时候已经可以睁开眼睛了，如果这时候用手电筒照你的腹部，胎儿会自动把头转向光亮的地方，这说明胎儿视觉神经的功能已经开始在起作用了。皮下脂肪慢慢增多，宝宝需要脂肪来帮助他适应离开子宫后外界更低的温度，并提供出生后头几天的能量和热量。眼睛、嘴唇、鼻孔都慢慢形成，宝宝耳中的神经传导正在发育，这意味着他对声音的反应将会更为一致。此时的胎儿脊髓越来越坚韧了。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第二十六周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>你此时也许开始出现下肢水肿，注意不要长时间站立或行走，休息时要把脚垫高；多吃含铁食物，多吃含维生素C多的食品以帮助吸收更多铁质。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week27.jpg</string>
			<key>contentofdev</key>
			<string>到这周末，孕中期就结束了。27周的胎宝贝身长约38厘米，坐高约25厘米，体重已有900克左右。很多胎儿此时已经长出了头发，眼睛也已经可以睁开和闭合了，同时有了比较原始的睡眠周期，有时也会将自己的大拇指放到小嘴里吸吮。此时胎儿的听觉得到了进一步的发展（完全形成是在孕8个月左右）。胎儿身体已经大得快碰到子宫壁了。母亲的腹壁变得更薄，外界的各种声音都可以传达到胎儿的耳朵里,胎儿在子宫内开始会记忆听到的声音。胎儿的味觉开始形成，已经达到能够分辨甜味或苦味的程度。胎儿在子宫内也已经形成嗅觉，掌握了寻找母乳的本领哦。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第二十七周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>从现在开始，你的宝宝会经常打嗝，每一次通常只持续几分钟，好好地享受这些有趣的时刻吧！这时，你要开始多了解一些有关分娩的知识了。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week28.jpg</string>
			<key>contentofdev</key>
			<string>28周的胎儿现在坐高约26厘米，体重约1200克左右。宝宝几乎占满了整个子宫，随着空间越来越小，胎动也在减弱。但假如把手放在你的腹部，可以感觉到胎儿的活动。这周你将发现：宝宝可以睁开眼睛了！他的睫毛已经完全长出来了，他的脂肪还在累积，为出生后在妈妈子宫外的生活做准备。现在开始应记录下每一次有规律的胎动，这时胎儿可能会用小手、小脚在你的肚子里又踢又打，有时还会让自己翻个身，把你的肚子顶得一会儿这里鼓起来，一会儿那里又鼓起来，也有的胎儿相对比较安静，胎儿的性格在此时已有所显现。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第二十八周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>从现在开始，你就进入了孕晚期，要注意的事情很多呦！你要每天做胎动记录，监测胎儿情况；还要每两周做一次产前检查，密切监察你的孕期。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week29.jpg</string>
			<key>contentofdev</key>
			<string>29周的胎儿现在坐高约26～28厘米，体重约1300克左右，这时的宝宝对外界的刺激反映也更为明显，宝宝的头部随着大脑的发育而增大。听觉系统也发育完成，宝宝此时对外界刺激反应也更为明显。如果在这时候给宝宝放些音乐，宝宝会对不同的音乐作出不同的反应。此时如果有光亮透过妈妈子宫壁照射进来，胎儿就会睁开眼睛并把头转向光源，这说明胎儿的视觉发育已相当完善。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第二十九周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>现在你能明显地感觉到宝宝的胎动了，如果你注意到他的胎动有所减少，要让你的医生知道；若发现胎位不正也应及早设法矫正。这时候宝宝的听觉系统发育完成，如果在这时候给宝宝放些音乐，宝宝会对不同的音乐作出不同的反应。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week30.jpg</string>
			<key>contentofdev</key>
			<string>30周的胎儿现在身高约44厘米，体重约1500克左右。胎儿头部还在增大，而且这时大脑发育非常迅速。大脑和神经系统已经发达到一定的程度，皮下脂肪继续增长。这周胎儿的眼睛可以开闭自由，大概能够看到子宫中的景象，孩子还能辨认和跟踪光源。但是可不能期待出生后的宝宝一开始就是个火眼金睛,通常孩子在刚出生的时候只能看到很近距离的东西，逐渐才能看到远处的物体和人。

男胎儿的睾丸这时正在从肾脏附近的腹腔，沿腹沟向阴囊下降的过程中，女胎儿的阴蒂已突现出来，但并未被小阴唇所覆盖，那要等到出生前的最后几周。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第三十周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>你还在给你的宝宝讲故事、听音乐吗？现在你的宝宝已经非常熟悉你的声音了。这时的你要多留意自己，一旦发生不规则宫缩应立刻休息。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week31.jpg</string>
			<key>contentofdev</key>
			<string>31周的胎儿从头部到臀部长约28厘米，重约1.59千克。肺部和消化系统已基本发育完成，可以有呼吸能力和分泌消化液。胎儿喝进去的羊水，经过膀胱排泄在羊水中，这是在为出生后的小便功能进行锻炼。现在宝宝的眼睛开始有颜色了，但出生后6-9个月才会显出真正的颜色，这是因为眼睛里的色素需要见光才会显出真正的颜色。他的眼皮常常在活跃时睁开，在睡觉时闭上。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第三十一周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>这周宝宝的眼睛时开时闭，他大概能够看到子宫里的景象；你会感到呼吸越发的困难，这时最好少吃多餐，以减轻胃部的不适。</string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week32.jpg</string>
			<key>contentofdev</key>
			<string>32周的胎儿身长约45厘米，体重约2000克。此时宝宝的各个器官继续发育完善，肺和胃肠功能已接近成熟，已具备呼吸能力，能分泌消化液。宝宝的 “呼吸课程”继续促进肺的进一步发育成熟。宝宝的生殖器发育接近成熟。除此之外，胎儿已经长出一头的胎发，但头发稀少，不过宝宝出生后头发的浓密稀疏并不取决于这时候胎儿头发的密疏。另外宝宝的指甲已经长到了指尖。宝宝的5种感觉全部开始工作，他能炫耀一项新本领了——将头从一边转向另一边。他的内脏器官正在发育成熟，脚趾甲全部长出，头发仍在生长。虽然他继续坚持练习睁眼、闭眼，但每天有90%-95%的时间是在睡眠中度过的。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第三十二周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>这时你一定要坚持每两周一次的体检，检查时要注意脐带的扭转情况。你会发现最近胎动次数比原来少了，动作减弱了，只要符合规律就问题不大。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week33.jpg</string>
			<key>contentofdev</key>
			<string>33周的胎儿身长约48厘米，体重约2200克。胎儿的呼吸系统和消化系统发育已经接近成熟。宝宝现在头骨很软，每块头骨之间有空隙，这是为宝宝在生产时候头部能够顺利通过阴道做准备。但是宝宝身体其它部位的骨骼已经变得很结实，胎儿的皮肤也不再又红又皱了。这时应当注意胎儿头的位置，胎位正常与否直接关系到您是否能够正常的分娩。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第三十三周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>这一时期，你的不规则宫缩次数开始增多，产期临近，身体的不适和内心的不安都有所加重，坚持住，你和宝宝很快就会见面啦！ </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week34.jpg</string>
			<key>contentofdev</key>
			<string>34周的胎儿坐高约30厘米，体重2300克左右。免疫系统正在发育以抵御轻微的感染。他的手指末端非常小，但指甲锋利。宝宝正在为分娩做准备了，宝宝的头转向下方，头部进入骨盆。但是有3%-4%的胎儿臀部或腿会朝向子宫颈即“臀先露”。医生有时会用“胎位倒转术”使胎儿恢复到正确的位置。这种方法包括用手通过腹部进行操作，胎位倒转术最好在医院内进行，以便母子能得到密切监护。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第三十四周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>此时胎儿已经为分娩做好了准备，将身体转为头朝下的姿势。你最近会感觉有一点儿累，这很正常，放慢节奏，为生产的那一天保存些体力吧。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week35.jpg</string>
			<key>contentofdev</key>
			<string>35周的胎儿身长约50厘米左右，体重约2500克左右。本周末，胎儿内脏及性器官发育齐全，已具备呼吸和吸吮的能力，且听力也已经充分发育。妈妈应多和宝宝说说话，放些令人轻松愉快的音乐。胎儿的皮下脂肪形成后将会在宝宝出生后调节体温。同时宝宝也在为分娩做准备了，宝宝的头转向下方，头部进入骨盆。除此之外，宝宝的两个肾脏已经发育完全，肝脏也可以自行代谢一些东西了。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第三十五周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>日益临近的分娩会使你感到忐忑不安甚至有些紧张，和丈夫、朋友或自己的妈妈聊一聊，也许可以稍稍缓解一下自己内心的压力。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week36.jpg</string>
			<key>contentofdev</key>
			<string>36周的胎儿仍然在生长，本周宝宝身长51厘米左右，体重约2800克左右。两个肾脏已发育完全，他的肝脏也已能够处理一些代谢废物。从本周末起就已经可以称做是足月儿了（37周-42周）。因此从现在开始要注意休息和保持个人卫生，随时准备和小宝宝见面。这时每当胎儿在你腹中活动时，他的手肘、小脚丫和头部可能会清楚地在你的腹部突现出来，这是因为此时的子宫壁和腹壁已变得很薄了。而且因此会有更多的光亮透射进子宫，这会使胎儿逐步建立起自己每日的活动周期。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第三十六周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>这时你要了解一些有关临产征兆的知识，了解什么是宫缩、见红、破水，该如何处理等，因为现在你随时有可能临产。 </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week37.jpg</string>
			<key>contentofdev</key>
			<string>37周的胎儿仍然在生长，本周宝宝身长51厘米左右，体重约3000克左右。肺和其他呼吸器官都已经发育成熟。医生会在每周一次的体检中检查胎儿是否已经入盆。一般在这周，胎儿能够继续转动并使头转到下方。如果胎位不正，自动转为头位的机会就很少了，若医生也无法纠正，那么很可能会建议你剖腹产，以保证母子平安。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第三十七周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>你要每周体检一次了。现在宫缩可能出现得更频繁，如果发现有出血现象，应立即去医院。另外，过了这周，你的宝宝就要足月了，要加油哦！</string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week38.jpg</string>
			<key>contentofdev</key>
			<string>38周的胎儿身长52厘米左右，体重3200克左右。心、肺、肝为首的循环、呼吸、消化器官等已全部形成，已经具备了在母体外独立生存的能力。这周，胎儿身上覆盖着的一层细细的绒毛和大部分白色的胎脂逐渐脱落，皮肤皱纹逐渐消失。这些分泌物会被胎儿随着羊水一起吞进肚子里，在肠道中，渐渐变成黑色的胎便，在胎儿出生后排出体外。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第三十八周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>疾病预防</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>恭喜准妈妈，从现开始你的宝宝已经是足月儿了，随时可能出来和你见面哦！你现在是不是既紧张又焦急，既盼望宝宝早日降生，又对分娩的痛苦有些恐惧？放松心情，适当活动，你会很顺利的，加油！ </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week39.jpg</string>
			<key>contentofdev</key>
			<string>39周的胎儿身长53厘米左右，体重3200-3400克，现在出生的宝宝是足月儿。宝宝的体重在本周会继续增加，脂肪的储备会让孩子在出生后进行体温调节。随着现在营养给予的提高，宝宝出生时体重越来越重，有的宝宝出生时体重可以到4000克以上。通常情况下，男孩出生时的体重会比女孩重一些。宝宝此时身体各器官都发育完成，肺是最后一个发育成熟的器官，通常是在宝宝出生后几个小时内肺才建立起正常的呼吸方式的。胎儿的头部已固定在骨盆中，他更多地将会向下运动，压迫你的子宫颈，想把头伸到这个世界上来。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第三十九周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期检查</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>你的小宝宝现在已经准备好向这个世界报到了，准备好了吗，年轻的爸爸妈妈？也许明天？后天？宝宝就会降生了！ </string>
	</dict>
	<dict>
		<key>firstinfo</key>
		<dict>
			<key>imagedev</key>
			<string>week40.jpg</string>
			<key>contentofdev</key>
			<string>恭喜！你的胎儿从一个小细胞发育到2亿个细胞。40周出生的宝宝平均体重在3.3-4千克左右，身长大概有51厘米。胎儿内脏和神经系统功能已经健全，手脚肌肉发达，富有活力，脑细胞的发育基本定型。胎儿的胸部会变得更凸出，由于肝在血红细胞生产中的特殊作用，胎儿的肝会自然变大。

你的宝宝应该跟以前一样活跃。如果胎动有所减少，那可能是出现问题的信号，所以如果你觉得他的活动变慢了，应该立即去医院就诊。

大多数宝宝会在这周和妈妈见面，但这并不绝对，提前三周或推迟两周都是正常的。据统计，真正能准确地在预产期出生的婴儿只有5%。

别指望刚生出来的宝宝像洋娃娃那么可爱，新生儿头部通常都是暂时的畸形（通过产道时挤压所致），浑身覆盖着胎脂和血液，还可能肤色不匀，有胎记或皮疹，这些现象都是正常的。 </string>
		</dict>
		<key>weeknumber</key>
		<string>第四十周</string>
		<key>nametype</key>
		<array>
			<string>胎儿发育</string>
			<string>概述</string>
			<string>妈妈的变化</string>
			<string>孕期保健</string>
			<string>孕期营养</string>
			<string>“妈咪营养食谱”推荐</string>
		</array>
		<key>overview</key>
		<string>是否觉得等待的日子格外漫长？备战状态的气氛有些紧张？不妨两个人一起听听音乐，看看影碟，这样二人世界的日子也许就要暂时向你们告别了。 </string>
	</dict>
</array>
</plist>
